<!DOCTYPE html>
<html lang="en">

<head>
  <link href="../styles/settings.css" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Settings</title>
</head>

<body class="page">
  <div class="setting-top-bar">
    <div class="top-bar-left">
      <img class="top-bar-icon" src="../../../assets/icon.png">
    </div>
    <div class="top-bar-right">
      <button type="button" class="upgrade-btn" name="upgrade-button">Upgrade</button>
    </div>
    <div class="top-bar-middle">
      <ul class="title-list">
        <li>
          <h1>Electronic Wechat V2.0.0</h1></li>
        <li>
          <h1 style="font-size:95%;">Powered by Electron V1.3.5</h1></li>
      </ul>
    </div>
  </div>
  <div class="setting-menu">
    <section>
      <ul>
        <li class="menu-title">
          <h2>title</h3></li>
        <li class="menu-desc"><h3>description</h3></li>
        <li class="menu-button">
          <select class="" name="">
            <option value="Option1" style="width:100px;">Option1</option>
          </select>
        </li>
      </ul>
    </section>
    <section>
      <ul>
        <li class="menu-title"><h2>title</h3></li>
        <li class="menu-desc"><h3>description</h3></li>
        <li class="menu-button">
          <select class="" name="">
            <option value="Option1">Option1</option>
          </select>
        </li>
      </ul>
    </section>
    <section>
      <ul>
        <li class="menu-title"><h2>title</h3></li>
        <li class="menu-desc"><h3>description</h3></li>
        <li class="menu-button">
          <select class="" name="">
            <option value="Option1">Option1</option>
          </select>
        </li>
      </ul>
    </section>
  </div>
</body>

</html>
