<!DOCTYPE html>
<html lang="en">

<head>
  <link href="../styles/settings.css" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Settings</title>
</head>

<body class="page">
  <div class="setting-top-bar">
    <div class="top-bar-left">
      <img class="top-bar-icon" src="../../../assets/icon.png">
    </div>
    <div class="top-bar-right">
      <button type="button" class="upgrade-btn" name="upgrade-button">Upgrade</button>
    </div>
    <div class="top-bar-middle">
      <ul class="title-list">
        <li>
          <h1>Electronic Wechat V2.0.0</h1></li>
        <li>
          <h1 style="font-size:95%;">Powered by Electron V1.3.5</h1></li>
      </ul>
    </div>
  </div>
  <div class="setting-menu">
    <section>
      <ul>
        <li class="menu-title">
          <h3 name="app-language-title">语言</h3>
        </li>
        <li class="menu-desc">
          <h4 name="app-language-desc">选择你希望使用的默认语言</h4>
        </li>
        <li class="menu-button">
          <select class="" name="app-language-select" required>
            <option value="enUS">English</option>
            <option value="zhCN">简体中文</option>
          </select>
        </li>
      </ul>
    </section>
    <section>
      <ul>
        <li class="menu-title">
          <h3 name="app-callback-title">阻止撤回</h3>
        </li>
        <li class="menu-desc">
          <h4 name="app-callback-desc">选择是否阻止微信的消息撤回功能</h4>
        </li>
        <li class="menu-button">
          <select class="" name="app-callback-select">
            <option value="on" default>开启</option>
            <option value="off">关闭</option>
          </select>
        </li>
      </ul>
    </section>
    <section>
      <ul>
        <li class="menu-title">
          <h3 name="app-sidebar-title">工具栏图标（Linux）</h3>
        </li>
        <li class="menu-desc">
          <h4 name="app-sidebar-desc">选择一个你喜欢的工具栏图标吧！</h4>
        </li>
        <li class="menu-button">
          <select class="" name="app-sidebar-select">
            <option value="black">深色</option>
            <option value="white">浅色</option>
          </select>
        </li>
      </ul>
    </section>
  </div>
</body>

</html>
